/* Font Awsome */
@import '~@fortawesome/fontawesome-free/css/all.css';

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Flags Icon */
@import url("'~flag-icons/css/flag-icons.min.css");


/* vars */
$primary-dark: #111C26;
$primary-normal: #384D59;
$primary-light: #4D6873;
$secondary: #C1D4D9;
$dark: #0D0D0D;

/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    background-color: $primary-normal;
}

/* globals */
.container{
    width: 1200px;
    margin: 0 auto;
}
